/* set styles for page title */
.title {
  color: green;
  margin-bottom: 30px;
}

/* set styles for bill section input */
.bill_section {
  background: #d3d3d3;
  border: 2px solid black;
}

/* set custom borde styles for tip section */
.tip_section {
  background: #d3d3d3;
  border-style: solid;
  border-color: black;
  border-width: 2px 2px 2px 0;
  height: 294px;
}

/* set styles for tip h3 */
.tip {
  margin-top: 15%;
}

/* set styles for total h3 */
.total {
  margin-top: 50px;
  font-weight: bold;
}

/* set styles for people number input */
.people {
  margin-bottom: 20px;
}

/* set styles for tip amount field */
.tip_amount {
  /*margin-left: 17%;*/
}

/* set styles for total field */
.total_bill {
  /*margin-left: 17%;*/
  margin-bottom: 20px;
}

/* set styles for submit div */
.submit_div {
  margin-left: 15.4%;
}

/* set styles for generate bill button */
.submit_button {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

/* set styles for clear page button */
.clear_button {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  border: none;
}
