body {
  background-color: #d3d3d3;
  font-family: Arial;
}

.title {
  text-align: center;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  background-color: #a8c0fc;
}

h2 {
  margin-top: 10vh;
}

.result {
  margin-bottom: 10vh;
}
